{% comment %}
Used to get all unique filter categories. If tag contains underscore check the first word of that underscored word, if its not in the 'categories' variable, add to it, and split into an array at the end.

tag = color_blue
categoryCheck = color
categories = [color, brand, voltage]
{% endcomment %}

{% assign categories = '' %}
{% assign categories = categories | split: '' %}
{% assign lastCategory = '' %}
<ul class="CollectionFilter">
{% for tag in collection.all_tags %}
  
  {% if tag contains '_' %}
    {% assign categoryCheck = tag | split:'_' | first %}
    {% unless categories contains categoryCheck %}
      {% if lastCategory != '' and lastCategory != categoryCheck %}
        </ul>
        </li>
      {% endif %}
      {% if lastCategory != categoryCheck %}
        <li class="CollectionFilter__category">
          <button class="CollectionFilter__dropdown-trigger">{{categoryCheck}}</button>
          <ul class="CollectionFilter__dropdown">
      {% endif %}
      {% assign categories = categories | append: categoryCheck %}
      {% assign lastCategory = categoryCheck %}
    {% endunless %}
    <li class="CollectionFilter__filter-value-container {% if current_tags contains tag %}active{% endif %}">
      <label class="CollectionFilter__filter-value-label" for="{{tag}}">{{tag}}</label>
      <input {% if current_tags contains tag %}checked{% endif %} class="CollectionFilter__filter-value js-filterValue" id="{{tag}}" type="radio" name="{{categoryCheck}}" value="{{tag | handleize}}">
    </li>
  {% endif %}

  {% if forloop.last %}
  </ul>
  </li>
  {% endif %}

{% endfor %}
</ul>

<script>
  $('.js-filterValue').change(function(){
    var rootUrl = '{{shop.url}}'+'{{collection.url}}';
    if('{{collection.url}}' == ''){
      rootUrl = '{{shop.url}}'+'/collections/all'
    }
    var urlSegment = '';
    $(".js-filterValue:checked").each(function() {
      if(this.checked){
        if(urlSegment == ''){
          urlSegment+='/'+this.value;
        }else{
          urlSegment+='+'+this.value;
        }
      }
    });

    window.location = rootUrl+urlSegment;
  })
</script>

